

<div data-spy="scroll" data-target=".mainmenu-area">
    <header class="term-area overlay angle" id="home_page">
        <div class="container">
            	<div class="section-padding terms">
                    <h1 class="title"> شروط الإستخدام </h1>
                    <div class="space-30"></div>
                    <div class="tab-content" style="font-size:22px; text-align:justify">
                    	<span>تاريخ : 08 نوفمبر 2019</span><br><br>
						<p>بالتسجيل في خدمة <a href="http://horoscopi.tn/" target="_blank">Horoscopi</a> عبر <a href="http://horoscopi.tn/" target="_blank">Horoscopi.tn</a>، تقبل أحكام و شروط الاستخدام التي يمثلها هذا العقد ("عقد").</p>
                        
                        <p>العقد التالي يمثل وثيقة الموافقة التي تربط بيننا، بخصوص تسجيلك عبر الموقع <a href="http://horoscopi.tn/" target="_blank">Horoscopi.tn</a> وإشتراكك في خدمة <a href="http://horoscopi.tn/" target="_blank">Horoscopi</a> "الخدمة" الموفرة بالإرساليات القصيرة عبر الرقم 85351. </p>
                        
                        <p>عليك الموافقة على أحكام و شروط هذا العقد، لإستخدام و مواصلة إستخدام هذه الخدمة. </p>
                        
                        <p>الرجاء الإطلاع و قراءة هذه الشروط و الأحكام بتمعّن، لأنها تمثل الإتفاق الرابط بينك "أنت" المستخدم و بيننا و بين أي طرف  يخلفنا أو له حقوق. </p>
                        <p>إن لم تقبل هذه الأحكام و الشروط ، لا يمكنك إستخدام هذه المنصة و لا يمكنك إتمام عملية التسجيل في الخدمة. </p>
                        
                        <p>بالموافقة على هذا العقد ، توافق على جميع أحكام و شروط الإستخدام و على أي تعديلات أو تحديثات  لاحقة.</p>
                                             
                       <div class="space-30"></div>
                        <h2>1. موضوع الموقع</h2>
                        <p><a href="http://horoscopi.tn/" target="_blank">Horoscopi</a>  خدمة ترفيهية ، موجّهة للمستخدم المقيم بتونس، وتوفر خدمة تلقي توقعات الأبراج يوميا عن طريق الإرساليات القصيرة. </p>
                        <p>موقع <a href="http://horoscopi.tn/" target="_blank">Horoscopi.tn</a>  يمثل طريقة التسجيل في خدمة <a href="http://horoscopi.tn/" target="_blank">Horoscopi</a>. </p>
                        
                       <div class="space-30"></div>                        
                       <h2>2. ملكية الموقع :</h2>
						<p>شركة الأندلسي تليكوم تكنولوجي <a href="https://www.l-2t.com/" target="_blank">L2T</a> – شركة ذات مسؤولية محدودة ، رأس مالها .000156دينار تونسي، المعرف الجبائي عدد 948676 G/A/M/000، مسجلة بالسجل التجاري تحت عدد B018512006، مقرها ب 27 ، نهج إبن شرف، A 10، تونس البلفدير، تونس، هي الشركة المطورة و المالكة لكل الحقوق الفكرية ، النشر و البراءات المتعلقة بموقع <a href="http://horoscopi.tn/" target="_blank">Horoscopi.tn</a>  و خدمة <a href="http://horoscopi.tn/" target="_blank">Horoscopi</a>.</p>
                        
                        <p>موقع <a href="http://horoscopi.tn/" target="_blank">Horoscopi.tn</a> ، خدمة <a href="http://horoscopi.tn/" target="_blank">Horoscopi</a>، الشعار، الإسم التجاري <a href="http://horoscopi.tn/" target="_blank">Horoscopi</a>،  المحتوى، النصوص، قواعد البيانات، الرسوم، البرامج، التطبيقات ، المكونات البصرية، المكونات السمعية البصرية، المكون للموقع تحت الملكية الحصرية لشركة <a href="https://www.l-2t.com/" target="_blank">L2T</a>.</p>   
                        <p>إستنادا لهذا العقد، لا يمكن لأي طرف من الأطراف المتعاقدة أن يكون لها أي حق ملكية على أي مكون ملك لطرف الآخر.</p>                             
                       <div class="space-30"></div>                        
							<h2>3. الآلية</h2>
						<p>التسجيل في خدمة <a href="http://horoscopi.tn/" target="_blank">Horoscopi</a> يكون عبر إستمارة التسجيل المتوفر على موقع <a href="http://horoscopi.tn/" target="_blank">Horoscopi.tn</a>.</p>
                        <ul>للتمتع بخدمة برجك اليومي، عليك :
                        	<li>&nbsp;&nbsp; &nbsp;&nbsp;1.	التسجيل بملأ الإستمارة و الموافقة على شروط الإستخدام (العقد الآتي)، و سياسة معالجة معطياتك.</li>
                            <li>&nbsp;&nbsp; &nbsp;&nbsp;2.	تأكيد التسجيل بإدخال رمز التأكيد المرسل على هاتفك الجوال.</li>
                        </ul>
                        <p>عند إتمام الخطوات السابقة، تكون قد فعّلت تسجيلك في الخدمة.</p>
                        <ul>التسجيل في الخدمة مجاني، التمتع بالمحتوى يكون بمقابل:
                        	<li>&nbsp;&nbsp; &nbsp;&nbsp;•	بالنسبة لمشتركي اتصالات تونس , كل إرسالية متلقاة، يتم إقتطاع  70 مليم من رصيد المشترك.</li>
                            <li>&nbsp;&nbsp; &nbsp;&nbsp;•	بالنسبة للأريدو تونس و أرونج تونس،  أول إرسالية تكون مجانية، و يتم إعلام المشترك بضرورة تجديد اشتراكه كل 7 إرساليات، بإرسال إرسالية قصيرة على 85351 (ثمن الإرسالية: 490 مليم).</li></ul>

                    <div class="space-30"></div>                        
	                    <h2>4. تعديل شروط الإستخدام</h2>
                        <p>نحتفظ بحقنا في تعديل و تنقيح الإتفاق الآتي في أي وقت و أي شكل. عند كل تعديل لهذا الإتفاق، يتم تحيين  تاريخ التعديل الموجد في أعلى الصفحة .</p>              
                        <p>يتعهد المستخدم بالإطلاع على محتوى هذا العقد بإنتظام لتأكد من نسخة شروط الإستخدام.</p>
                        <p>إن لم توافق على التعديلات المتاحة، عند الضرورة ، يرجى  إلغاء الإشتراك بإرسال إرسالية يكتب فيها  STOP HOROSCOPIعلى 85351 (سعرالإرسالية: 490 مليم)</p>
                        <p>حقك في التمتع  بالخدمة  يخضع للشروط والحدود نضعها و نطبقها حسب تقديرنا و ترتئيه مصالحنا.</p>
                        <p>طبقا لذلك فيمكننا تعديل، تعليق أو إيقاف جزء أو جميع جوانب الخدمة بما في ذلك توفير خدمة، قاعدة بيانات، أو محتوى خدمة. يمكننا حصر  جزء أو جميع خاصيات  بما في ذلك إمكانية  الوصول لجزء أو الخدمة دون إشعار أو مسؤولية.</p>

                    <div class="space-30"></div>
						<h2>5. حدود المسؤولية </h2>
                        <p>يتم تقديم المحتوى على الخدمات دون أية ضمانات أو شروط أو تعهدات بدقتها. </p>
                        <p>بالنسبة لاستخدامك للخدمات، نحن وأي من شركات المجموعة أو المسؤولين أو المدراء أو الموظفين أو المساهمين أو الوكلاء فيها لا نتحمل أية مسؤولية تجاه كمية أو نوع أية خسائر أو أضرار قد تتعرض أنت أو الغير (بما في ذلك دون حصر أية خسائر أو أضرار تأديبية أو تبعية مباشرة أم غير مباشرة، أو أية خسائر في العائدات أو الأرباح أو الشهرة التجارية أو البيانات أو العقود أو استخدام الأموال، أو الخسائر والأضرار الناجمة عن أو ذات الصلة بتعطيل الأعمال بأي شكل من الأشكال، وسواء كانت نتيجة المسؤولية التقصيرية (بما في ذلك دون حصر الإهمال)، أو العقود أو خلافه) فيما يتعلق باستخدام أو عدم القدرة على استخدام أو تبعات استخدام الخدمات، بما في ذلك دون حصر ما تتسبب به الفيروسات من أضرار لمعدات حاسوبك أو البرمجيات أو البيانات أو أية ممتلكات خاصة بك، بسبب دخولك أو استخدامك أو تصفحك للخدمات.</p>
                        <p>إن ما سبق ذكره لا يؤثر على أية مسؤولية لا يمكننا استثناؤها أو الحد منها بموجب الفانون النافذ.</p>
                        <p>ستقتصر أي مطالبة ضدنا على المبلغ الذي دفعته ، إن وجد ، لاستخدام الخدمة خلال آخر 3 أيام قبل تاريخ مطالبتك.</p>
                        <p>يجوز لنا إيقاف الخدمة أو تعديلها أو توفرها في أي وقت ، ويمكنك التوقف عن استخدام النظام الأساسي في أي وقت ، يرجى الاطلاع على تفاصيل الإلغاء أدناه.</p>

                    <div class="space-30"></div>
						<h2>6. الخصوصية و معالجة المعطيات </h2>
                        <p> تتم معالجة المعطيات الشخصية و المحافظة على الخصوصية طبقا لمقتضيات قانون عدد63-2004 لحماية المعطيات الشخصية، يمكن الإطلاع على تفاصيل المعالجة في <a href="http://horoscopi.tn/confidentialite" target="_blank">سياسة الخصوصية</a> المنشورة على الموقع.</p>
                        <p>لا نقوم بالتفويض أو ببيع المعطيات الشخصية التي نجمعها لأي جهة أخرى. لكن نستخدمها لإرسال إرساليات إعلامية و إرساليات إشهارية لحسابنا أو لحساب شركائنا و حرفائنا.</p>

                    <div class="space-30"></div>
						<h2>7. التنازل عن المطالبة </h2>
                        <p>تقر انه لا يمكنك رفع دعوى قضائية ضدنا وموظفينا ووكلائنا، عن أي أضرار من أي نوع ، ناتجة عن استخدام المنصة، الموقع، الخدمة ، رقم الإرساليات  و / أو خدمة الطرف الثالث.</p>

                    <div class="space-30"></div>
						<h2>8. قواعد إستخدام الموقع </h2>
						<p>باللوج للموقع، تقبل بعدم إستعمال الموقع، المنصة و المعلومات المتلقات عن طريق الموقع، الرقم و/ او خدمة التابعة لغاية غير قانونية أو لغاية تمثل خرق للعقد التالي.</p>
                        <p>تتعهد بعدم إستعمال المنصة و الخدمة التابعة للتواصل أو لمشاركة أي نص أو صور ذا طابع عنيف، عنصري، غير أخلاقي  أو يمكنه من المس للشخص، كرامته و بحماية الأطفال.... أو رسائل تحث على الكراهية، جرائم ، إستعمال  مواد ممنوعة أو على الإنتحار.</p>
                        <p>تتعهد أيضا بعدم إستعمال الموقع، المنصة، الخدمة أو أي خدمة طرف ثالث لتوزيع أو المشاركة باي طريقة لرسائل غير مرغوب فيها، عرض او طلب شغل أو اي شكل من أشكال الإشهار و التسويق.</p>    
                    <div class="space-30"></div>
						<h2>9. التعويض </h2>
                        <p>انت توافق على تعويضنا وتعويض شركاتنا التابعة ومدرائنا ومسؤولينا وموظفينا ووكلائنا المعنيين، وكذلك مرخصيهم ومورديهم، عن ومقابل أيّ من وكافة المطالبات أو الإجراءات أو الدعاوى أو المرافعات، وكذلك أيّ من وكافة الخسائر والالتزامات والأضرار والتكاليف والنفقات (بما فيها الرسوم القانونية المعقولة) والتي تنشأ عن أي تضليل أو تصرف أو إغفال من قبلك فيما يتعلق باستخدامك للخدمات، عدم التزامك بأيّ من هذه الأحكام والشروط.</p>
                    <div class="space-30"></div>
						<h2>10.  التجزؤ </h2>
                        <p>إذا تم اعتبار أن أي بند أو حكم أو شرط من هذا العقد باطل أو غير قابل للتنفيذ من قبل محكمة مختصة ، فلن يؤثر هذا البطلان على صحة أو قابلية تنفيذ أي بند أو حكم آخر ، ويعتبر هذا الحكم أو البند غير صحيح في الاتفاق الحالي.</p>
                    <div class="space-30"></div>
						<h2>11. قواعد إستخدام الموقع </h2>
					<p>يمكنك إلغاء اشتراكك في أي وقت عن طريق إرسال SMS يحتوي على  STOP HOROSCOPIإلى 85351 (ثمن الإرسالية: 490 مليم)</p>                        
                    <div class="space-30"></div>
						<h2>12. قواعد إستخدام الموقع </h2>
					<p>تسعى الأطراف إلى حل أي نزاع ينشأ إثناء تنفيذ شروط الاستخدام هذه. في حالة وجود خلاف نهائي ، ومع مراعاة الأحكام القانونية، فإن المكان الوحيد  للولاية القضائية هو التابع المقر الاجتماعي لشركة <a href="https://www.l-2t.com/" target="_blank">L2T</a>.</p>                        
                    </div>
                </div>
        </div>
    </header>
    <footer class="footer-area" id="contact_page">
        <div class="footer-bottom footer-terms">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="footer-box logo">
                         	<a href="#"><img src="assets/images/Logo.png"></a>
                            <p> باش تعرف حظك، إشترك في Horoscopi<br> يوصلك كل يومSMS  فيه  توقعات برجك. </p>
                            <i class="fa fa-envelope" aria-hidden="true"></i>   
                            <a href="#" style="color:#fff">Hello@horoscopi.tn</a>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-4">
                    <div class="space-100"></div>
                        <div class="footer-box nav-menu">
                            <ul>
                                <li><a href="/inscription" target="_blank">تسجيل</a></li>
                                <li><a href="/termes">شروط الإستخدام</a></li>
                                <li><a href="/confidentialite" target="_blank">سياسة الخصوصية</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-4">
                        <div class="footer-box about">
                            <h4>  من نحن </h4>
                            <p> Horoscopi خدمة ترفيهية، لتلقي التوقعات اليومية للأبراج بالعربية عبر الإرساليات القصيرة. سعر الخدمة: 70 مليم/ الإرسالية</p>
                        </div>
                        <div class="footer-box scl-md">
                            <ul>                                                                        
                        		<li><a href="https://www.facebook.com/Horoscopi-100206528054633/" target="_blank"><img src="assets/images/Social media/fb.png"></a></li>
                        		<li><a href="https://www.instagram.com/horoscopi.tn/" target="_blank"><img src="assets/images/Social media/inst.png"></a></li>
                            </ul>                                                                   
						</div>
                    </div>                                    
                </div>
                <div class="col-xs-12">
                	<p class="text-center">خدمة مطورة من قبل &nbsp; <a href="https://www.l-2t.com/" target="_blank"><img src="assets/images/L2T.png"></a></p>
                </div>
            </div>
        </div>
    </footer>
</div>

