
<div data-spy="scroll" data-target=".mainmenu-area" id="InscriptionConfirmé">

    <header class="home-area overlay angle" id="home_page">
        <div class="container">
            <div class="row">
		    	 <div class="col-xs-12 hidden-sm col-md-5">
                    <figure class="mobile-image wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/images/header-mobile.png" class="img-responsive" alt="">
                    </figure>
                 </div>
                 <div class="col-xs-12 col-md-7" style="text-align:center">
                    <div class="space-30 hidden-xs"></div>
                    <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                        <img src="assets/images/Logo.png" class="logo">
                    </div>
                    <div class="space-200 hidden-xs header"></div>
                    <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                        <h3>باش توصلك كل يوم توقعات برجك <br> سجل في خدمة Horoscopi</h3>
                    </div>
                    <div class="space-40 hidden-xs"></div>
                    <a (click)="NewInscription()" class="bttn-insp wow fadeInUp" data-wow-delay="0.8s"><i class="lnr lnr-download">التسجيل</i></a>
                 </div>
            </div>
        </div>
    </header>

    <section class="section-padding" id="about_page">
                    <div class="container">
                    <div class="row">                  
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                            <div class="form-group"   >
                                    <div class="form-group form-button" [hidden]="isCodeAlertMessageHidden">                               
                                        <label class="alert alert-danger"  role="alert" >
                                                <i  class="mdi mdi-alert-circle" ></i>لقد تم تأكيد تسجيلك مسبقا! سوف تصلك توقعات حظك اليومية .ثمن الخدمة: 70 مليم/ الإرسالية
                                                <!-- .يمكنك أيضا <a  (click)="NewInscription()" style="text-decoration: underline;cursor:pointer;">التسجيل في الخدمة</a>   --></label>   
                                    </div> 

                                    <div class="form-group form-button" [hidden]="isCodeMessageHidden" >                               
                                        <label class="alert alert-info" role="alert" >
                                                <i  class="mdi mdi-alert-circle" ></i> لقد تم التسجيل بنجاح، سوف تصلك توقعات حظك اليومية. ثمن الخدمة: 70 مليم/ الإرسالية
                                            </label>    
                                     </div>   

                            </div>                 
                    </div>
                    </div>
                    </div>
    </section>  
    
    <footer class="footer-area" id="contact_page"> 
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="footer-box logo">
                         	<a routerLink="/inscription" ><img src="assets/images/Logo.png"></a>
                            <p> باش تعرف حظك، إشترك في Horoscopi<br> يوصلك كل يومSMS  فيه  توقعات برجك.</p>
                            <i class="fa fa-envelope" aria-hidden="true"></i>   
                            <a style="color:#fff" class="mail">Hello@horoscopi.tn</a>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-4">
					<div class="space-100"></div>
                        <div class="footer-box nav-menu">
                            <ul>
                                <li><a href="#Inscription" target="_blank">تسجيل</a></li>
                                <li><a routerLink="/termes" target="_blank">شروط الإستخدام</a></li>
                                <li><a routerLink="/confidentialite" target="_blank">سياسة الخصوصية</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-4">
                        <div class="footer-box about">
                            <h4>  من نحن </h4>
                            <p> Horoscopi خدمة ترفيهية، لتلقي التوقعات اليومية للأبراج بالعربية عبر الإرساليات القصيرة. سعر الخدمة: 70 مليم/الإرسالية </p>
                        </div>
                        <div class="footer-box scl-md">
                            <ul>                                                                        
                        		<li><a href="https://www.facebook.com/Horoscopi-100206528054633/" target="_blank"><img src="assets/images/Social media/fb.png"></a></li>
                        		<li><a href="https://www.instagram.com/horoscopi.tn/" target="_blank"><img src="assets/images/Social media/inst.png"></a></li>
                            </ul>                                                                   
						</div>
                    </div>                                    
                </div>
                <div class="col-xs-12">
                	<p class="text-center">خدمة مطورة من قبل &nbsp; <a href="https://www.l-2t.com/" target="_blank"><img src="assets/images/L2T.png"></a></p>
                </div>
            </div>
        </div>
    </footer> 
</div>