
<div data-spy="scroll" data-target=".mainmenu-area">
    <header class="term-area overlay angle" id="term_page">
        <div class="container">
            	<div class="section-padding terms">
                    <h1 class="title"> سياسة الخصوصية </h1>
                    <div class="space-30" hidden-xs></div>
                    <div class="tab-content" style="font-size:22px; text-align:justify">
						<p>شركة الأندلسي تليكوم تكنولوجي <a href="https://www.l-2t.com/" target="_blank">L2T</a> – شركة ذات مسؤولية محدودة ، رأس مالها .000156 دينار تونسي، المعرف الجبائي عدد 948676G/A/M/000، مسجلة بالسجل التجاري تحت عدد B018512006، مقرها 27 ، نهج إبن شرف، A10، تونس البلفدير، تونس، هي الشركة المطورة و المالكة لكل الحقوق الفكرية ، النشر و البراءات المتعلقة بموقع <a href="www.horoscopi.tn" target="_blank">Horoscopi.tn</a>  و خدمة <a href="www.horoscopi.tn" target="_blank">Horoscopi</a>.</p><br>
                        
                        <p>سياسة الخصوصية ( "سياسة الخصوصية") هو إلتزام الشركة بحماية البيانات الشخصية لمستعملي موقع horoscopi.tn ومشتركي خدمة  Horoscopiالمشار إليها فيما يلي " الموقع " أو " الخدمة " .</p><br>
                        
                        <p>تعلمكL2T أيضًا بإجراءات جمع و معالجة و استخدام بياناتك الشخصية و الخيارات المتاحة لك في هذا الصدد لحماية بياناتك.</p><br>
                        
                        <p>شركة  <a href="www.l-2t.com" target="_blank">L2T</a> قد تعدل من سياسة الخصوصية في أي وقت، وخاصة عند الامتثال لجميع التحيينات التنظيمية و التحريرية و / أو التقنية.</p><br>
                        
                        <p>يُنصح بالرجوع إلى الإصدار الأخير من سياسة الخصوصية لخدماتنا. </p><br>
                        
                        <p>تلتزم شركة <a href="www.l-2t.com" target="_blank">L2T</a> بالقانون 2004-63 المؤرخ في 27 جويلية 2004 بشأن حماية البيانات الشخصية ، وقانون الاتصالات وقانون حماية المستهلك ، أي القانون 92-117 المؤرخ في 7 ديسمبر 1992. وبالتالي تم الإعلان عن معالجة البيانات الشخصية التي تنفذها الشركة للهيئة الوطنية لحماية البيانات الشخصية .INPDP</p><br>
                        
                       <div class="space-30"></div>
                        <h2>1. جمع البيانات  </h2>
                        <p>شركة <a href="www.l-2t.com" target="_blank">L2T</a> هي الشركة المسؤولة بالمعنى المقصود في القانون 2004-63 المؤرخ 27 جويلية 2007 ، عن جمع ومعالجة البيانات الشخصية. هذه البيانات ضرورية بشكل خاص للسماح لك بالتسجيل والاستفادة من الخدمات المتاحة على الموقع وفقًا لاستخدامك. </p>
                        
                       <div class="space-30"></div>                        
                       <h2>2. طبيعة البيانات التي تم جمعها   </h2>
					   <ul>تتمثل البيانات التي يتم جمعها ومعالجتها:
                       <li>&nbsp;&nbsp; &nbsp;&nbsp;أ‌.	الهوية وبيانات الاتصال الخاصة بك ،</li>
                       	   <li>&nbsp;&nbsp; &nbsp;&nbsp;ب‌.	بيانات تتبع الابحار: يتم جمعها من خلال أدوات التجميع الفنية المناسبة (ملفات تعريف الارتباط والنماذج والأذونات) المثبتة على الخدمات</li></ul>
                           <p>تم تصميم هذه الأدوات للاستفادة من ميزات و خدمات معينة، عدم الموافقة على هذه الأدوات يمكن أن يعطل عمل و توفير الخدمة. </p>
                            	
                       <div class="space-30"></div>                        
						<h2>3. استخدامات البيانات  </h2>
						<ul type="disc">نقوم بجمع و معالجة بياناتك الشخصية للأغراض التالية:
                        	<li>&nbsp;&nbsp; &nbsp;&nbsp;<b style="color:#69F;">•	لتزويدك بالخدمات التي تطلبها منا:</b> للتسجيل في خدمة HOROSCOPI، وفي هذه الحالة سوف نطلب منك بيانات شخصية مثل اسمك، مدينتك، بريدك ، تاريخ ولادتك و رقم هاتفك.</li>
                            <li>&nbsp;&nbsp; &nbsp;&nbsp;<b style="color:#69F;">•	للحفاظ على خدماتنا وتحسينها:</b>لفهم كيفية استخدامك للخدمات؛ ولتطوير خدمات وعروض جديدة.</li><br>
                            <li>&nbsp;&nbsp; &nbsp;&nbsp;<b style="color:#69F;">•	لمنحك خدمات خاصة باحتياجاتك واهتماماتك : </b>: لتزويدك بمحتوى مخصص - مثل الإعلانات والخدمات ذات الصلة؛ والسماح لنا بمعرفتك بشكل أفضل لمنحك المزيد من الخدمات التي تطلبها - المزيد من العروض والعروض الحصرية والمعلومات والمسابقات ولمنحك تجربة أفضل كمستخدم؛ وللكشف عن أشياء أكثر تعقيدا مثلا إي الإعلانات قد تجدها أكثر فائدة أو أي الخدمات والمعلومات أكثر ملاءمة لك، مما يمنحك تجربة أفضل وأكثر إفادة لممتلكاتنا الرقمية.</li><br>
                            <li>&nbsp;&nbsp; &nbsp;&nbsp;<b style="color:#69F;">•	لتنفيذ معاملات الدفع  : </b> لتخزين سجل المعاملات؛ والتأكد من دفع رسوم اشتراكك في خدماتنا؛ والامتثال للالتزام القانوني أو التنظيمي بهذا الصدد.</li><br>
                            <li>&nbsp;&nbsp; &nbsp;&nbsp;<b style="color:#69F;">•	للتواصل معك  : </b> للسماح لك بالاتصال بنا؛ والاحتفاظ بسجل محادثاتنا؛ ولمساعدتك على حل أية مسائل قد تواجهها؛ ولإرسال العروض الترويجية والتسويق المباشر لك؛ ولإخبارك عن خدماتنا مثل تزويدك بمعلومات عن برامج مقبلة أو إضافة تعديلات على ممتلكاتنا الرقمية؛ وللاتصال بك للمنافسة والمشاركة في العروض المختلفة. </li> </ul>
                            
                    <div class="space-30"></div>                        
	                    <h2>4. أمن البيانات الشخصية   </h2>
                        <p>وفقًا للتشريعات المعمول بها، تعلن الشركة أنها وضعت جميع التدابير والوسائل اللازمة لضمان أمان بياناتك الشخصية. </p>

                    <div class="space-30"></div>
                    	<h2>5. الحق في استشارة البيانات الشخصية    </h2>
                        <p>في ظل التشريعات الحالية يمكنك طلب الكشف عن البيانات الشخصية وتتطلب مثل حالات تصحيح تستكمل أو تحديثها عن طريق الكتابة إلى شركة L2T ، 27 شارع بن شرف،  A10، تونس البلفيدير ، 1002 الجمهورية التونسية.</p>              

                    <div class="space-30"></div>
						<h2>6. حق الإعتراض    </h2>
                        <p>إذا كنت مشترك (ة) في خدماتنا ، يمكنك إلغاء الاشتراك و بذلك إلغاء عملية تخزين معطياتك عن طريق إرسال STOP HOROSCOPI إلى  85351 (سعر الإرسالية: 490 مليم)
<br><br>
إذا كنت قد قبلت تلقي عروض اشهارية من شركائنا وتريد ايقافها،  يمكنك إرسال رسالة قصيرة تحتوي على STOP MARQUE  إلى 85300 (رسالة قصيرة مجانية(. Marque  هو مرسل الارسالية الاشهارية.

</p>
                    </div>
                </div>
        </div>
    </header>

    <footer class="footer-area" id="contact_page">
        <div class="footer-bottom footer-terms">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="footer-box logo">
                         	<a href="#"><img src="assets/images/Logo.png"></a>
                            <p> باش تعرف حظك، إشترك في Horoscopi<br> يوصلك كل يومSMS  فيه  توقعات برجك. </p>
                            <i class="fa fa-envelope" aria-hidden="true"></i>   
                            <a href="#" style="color:#fff">Hello@horoscopi.tn</a>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-4">
                    <div class="space-100"></div>
                        <div class="footer-box nav-menu">
                            <ul>
                                <li><a href="/inscription" target="_blank">تسجيل</a></li>
                                <li><a href="/termes" target="_blank">شروط الإستخدام</a></li>
                                <li><a href="/confidentialite">سياسة الخصوصية</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-4">
                        <div class="footer-box about">
                            <h4>  من نحن </h4>
                            <p> Horoscopi خدمة ترفيهية، لتلقي التوقعات اليومية للأبراج بالعربية عبر الإرساليات القصيرة. سعر الخدمة: 70 مليم/ الإرسالية</p>
                        </div>
                        <div class="footer-box scl-md">
                            <ul>                                                                        
                        		<li><a href="https://www.facebook.com/Horoscopi-100206528054633/" target="_blank"><img src="assets/images/Social media/fb.png"></a></li>
                        		<li><a href="https://www.instagram.com/horoscopi.tn/" target="_blank"><img src="assets/images/Social media/inst.png"></a></li>
                            </ul>                                                                   
						</div>
                    </div>                                    
                </div>
                <div class="col-xs-12">
                	<p class="text-center">خدمة مطورة من قبل&nbsp; <a href="https://www.l-2t.com/" target="_blank"><img src="assets/images/L2T.png"></a></p>
                </div>
            </div>
        </div>
    </footer>

</div>

