<div data-spy="scroll" data-target=".mainmenu-area">

    <header class="overlay angle" id="notfound_page">
        <div class="container">
            <div id="notfound">
                <div class="notfound">
                    <div class="notfound-404">
                        <h1>404</h1>
                    </div>
                    <h4>عذرا, الصفحة المطلوبة غير موجودة !!<br>بإمكانك الرجوع إلى <a href="inscription">الصفحة الرئيسية</a> أو التسجيل في بقية <a href="services">خدماتنا</a></h4>
                </div>
            </div>      
        </div>
    </header>
</div>

