<div data-spy="scroll" data-target=".mainmenu-area">
    <section class="section-padding">
    	<div class="container">
        	<div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h1> خدمات أخرى </h1>
                <!-- <div class="space-70"></div> -->
                    <!-- <div class="col-sm-6">
                    	<div class="team-box wow fadeInUp">
                       		<div class="team-image">                        	
                                <img src="assets/images/Services/SMS-JOB.png" alt="smsjob">
							</div>
                            <p> SMS job est un service d'alertes par SMS, qui permet aux demandeurs d'emplois de recevoir les offres correspendant à leurs domaines d'activité <br>.Prix: 65 millimes / SMS reçu</p>
                            <a href="http://smsjob.net/" target="_blank">إضغط هنا</a>
                        </div>
                    </div> -->
                    <!-- <div class="col-sm-6"> -->
                    	<div class="team-box wow fadeInUp col-sm-6">
                       		<div class="team-image">
                                <img src="assets/images/Services/Infogrève.png" alt="infogrève">
                            </div>
                            <!-- <p>Ne vous laissez plus surprendre!  Soyez le 1er à être prévenu des grèves, Inscrivez-vous à Info Grève!
                                <br>.Prix: 70 millimes / SMS reçu</p> -->
                                <p>Ne vous laissez plus surprendre! Soyez le 1er à être prévenu des grèves, Inscrivez-vous à Info Grève</p>
                            <a href="http://www.infogreve.tn/" target="_blank">إضغط هنا</a>
                        </div>                        
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-area" id="contact_page">
        <div class="footer-bottom footer-terms">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="footer-box logo">
                         	<a href="#"><img src="assets/images/Logo.png"></a>
                            <p> باش تعرف حظك، إشترك في Horoscopi<br> يوصلك كل يومSMS  فيه  توقعات برجك. </p>
                            <i class="fa fa-envelope" aria-hidden="true"></i>   
                            <a href="#" style="color:#fff">Hello@horoscopi.tn</a>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-4">
                    <div class="space-100"></div>
                        <div class="footer-box nav-menu">
                            <ul>
                                <li><a routerLink="/inscription">تسجيل</a></li>
                                <li><a routerLink="/termes">شروط الإستخدام</a></li>
                                <li><a routerLink="/confidentialite">سياسة الخصوصية</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-4">
                        <div class="footer-box about">
                            <h4>  من نحن </h4>
                            <p> Horoscopi خدمة ترفيهية، لتلقي التوقعات اليومية للأبراج بالعربية عبر الإرساليات القصيرة. سعر الخدمة: 70 مليم/اإلرسالية</p>
                        </div>
                        <div class="footer-box scl-md">
                            <ul>                                                                        
                        		<li><a href="https://www.facebook.com/Horoscopi-100206528054633/" target="_blank"><img src="assets/images/Social media/fb.png"></a></li>
                        		<li><a href="https://www.instagram.com/horoscopi.tn/" target="_blank"><img src="assets/images/Social media/inst.png"></a></li>
                            </ul>                                                                   
						</div>
                    </div>                                    
                </div>
                <div class="col-xs-12">
                	<p class="text-center">خدمة مطورة من قبل &nbsp; <a href="https://www.l-2t.com/" target="_blank"><img src="assets/images/L2T.png"></a></p>
                </div>
            </div>
        </div>
        <!-- Footer-Bootom-End -->
    </footer>
    <!-- Footer-Area-End -->
    <!--Vendor-JS-->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/jquery-ui.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/contact-form.js"></script>
    <script src="js/ajaxchimp.js"></script>
    <script src="js/scrollUp.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="js/main.js"></script>
</div>

